<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>                                     
<meta charset="UTF-8">
<title>This is About</title>
</head>
<body>
<section>
   <div class="card">
   <div class="card-body">
   
   <h1 class="text-center">Your Contacts </h1>
   <table class="table">
  <thead>
    <tr>
      <th scope="col">UserId</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c : ${contacts}">
      <th scope="row" th:text="${'SCMUSER'+c.cid}">1</th>
      <td >
      <img src="" class="my_profile_picture" th:src="@{'/image/'+${c.profileimage}}" alt="profile photo" />
      <span th:text="${c.name}"></span> </td>
      <td th:text="${c.email}">Otto</td>
       <td th:text="${c.phone}">O</td>
      <td>
      <a th:href="@{'/user/delete/'+${c.cid}}" class="btn btn-danger btn-sm">Delete</a>
      
      <form method="post" th:action="@{'/user/update/'+${c.cid}}" class="mt-2">
      <button type="submit" class="btn btn-primary btn-sm">Update</button>
      
      </form>
      </td>
      
    </tr>
    
  </tbody>
</table>

	<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li> 
    <li class="page-item"><a class="page-link" href="#">1</a></li> 
     <li class="page-item"><a class="page-link" href="#">2</a></li> 
     <li class="page-item"><a class="page-link" href="#">3</a></li> 
    <li class="page-item"><a class="page-link" href="#">Next</a></li> 
  </ul> 
</nav>
   
   </div>
   
   </div>
</section>

</body>
</html>