<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>This is About</title>
</head>
<body>
<section>
<div class="card mr-3 ml-3">
<div class="card-body">

<h1 class="text-center">Update Contact</h1>

<div class="container-fluid mt-1">
<div class="row">

<div class="col-md-8 offset-md-2">
<form  action="" th:object="${contact}"
   enctype="multipart/form-data"
   method="POST"
   th:action="@{/user/process-update}"
   class="mt-2">
<input type="hidden" th:value="${contact.cid}" name="cid"/>
<!--  First Name     -->
<div class="input-group">

<div class="input-group-prepend">

<div class="input-group-text">

<i class="fa fa-plus">    </i>
</div>
</div>
<input th:value="${contact.name}"  required type="text" id="firstName" name="name" 
placeholder="Enter Name Here" class="form-control"/>

</div>
<!--  Work     -->
<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">

<i class="fa fa-briefcase">    </i>
</div>
</div>
<input th:value="${contact.work}" required type="text" id="work" name="work" 
placeholder="Enter Work Here" class="form-control"/>

</div>
<!--  Email     -->
<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">
   @


</div>
</div>
<input th:value="${contact.email}" required type="email" id="email" name="email" 
placeholder="Enter Email Here" class="form-control"/>

</div>
<!--  Phone     -->
<div class="input-group mt-3">

<div class="input-group-prepend">

<div class="input-group-text">

<i class="fa fa-phone">    </i>
</div>
</div>
<input th:value="${contact.phone}" required type="number" id="phone" name="phone" 
placeholder="Enter Phone Number Here" class="form-control"/>

</div>

<!-- Description -->
<div class="form-group mt-3">

<textarea th:text="${contact.description}" required  placeholder="Enter Description"name="description" id="description" class="form-control" rows="20"></textarea>

</div>
<!-- Contact Image -->
<div class="container text-center">
<img style="width:100px; height:100px;" class="img-fluid my_profile_picture" src="" th:src="@{'/image/'+${contact.profileimage}}" alt="" />
</div>
<div class="custom-file">
<input  type="file" name="proimage"/>

</div>

<div class="container text-center">

<button class="btn btn-outline primary">Save Contact</button>

</div>

</form>

</div>

</div>


</div>


</div>


</div>

</section>

</body>
</html>